<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>CSS Free Templates with jQuery Slider</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/assets/images/favicon.ico" />
	<!--<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
	<!--[if IE 6]>
		<script type="text/javascript" src="js/png-fix.js"></script>
	<![endif]-->
	<!--<script type="text/javascript" src="js/functions.js"></script>-->
</head>
<body>
	<!-- Header -->
	<div id="header" class="shell">
		<div id="logo"><h1><a href="/">BestSeller</a></h1><span><a href="/">Book Sharing For All</a></span></div>
		<!-- Navigation -->
		<div id="navigation">
			 <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/book/search">Search Book</a></li>
          <li><a href="/books/new">Share Book</a></li>
          <li><a href="/account">My Account</a></li>
          <li><a href="/shared">Shared Books</a></li>
          <li><a href="/notifications">Notifications</a></li>
        </ul>
		</div>
		<!-- End Navigation -->
		<div class="cl">&nbsp;</div>
		<!-- Login-details -->
		<div id="login-details">
			<p>Welcome, <a href="#" id="user"><%= @user.name %></a></p><p><%= link_to(' - Log Out', destroy_user_session_path, :method => :delete) %></p>
		</div>
		<!-- End Login-details -->
	</div>
	<!-- End Header -->
	<!-- Slider -->
	<div id="slider">
		<div class="shell">
			<ul>
				<li>
					<div class="image">
						<img src="/assets/images/books.png" alt="" />
					</div>
					<div class="details">
						<h2>Isabelo</h2>
						<p class="title">Keep track of books and spread the joy of learning. Now read as much as you want.</p>
						<a href="/book/search" class="read-more-btn">Search Site</a>
					</div>
				</li>
				<li>
					<div class="image">
						<img src="/assets/images/books.png" alt="" />
					</div>
					<div class="details">
						<h2>Isabelo</h2>
						<p class="title">Share books with ease.</p>
						<a href="/book/search" class="read-more-btn">Search Site</a>
					</div>
				</li>
			</ul>
			<div class="nav">
				<a href="#">1</a>
				<a href="#">2</a>
			</div>
		</div>
	</div>
	<!-- End Slider -->
	<!-- Main -->
	<div id="main" class="shell" style="text-align:center">
		<!-- Content -->
			<!-- Products -->	
			<div class="products" style="text-align:center">
				<h3>Books Available</h3>
				<ul>
					 <% @books.each do |book| %>
					<li>
						<div class="product">
							<a href="#" class="info">
								<span class="holder">
									<img src = "<%= GoogleBooks.search("isbn: #{book.isbn}").first.image_link %>" > 
									<span class="book-name"><%= book.title %></span>
									<span class="author"><%= book.author %></span>
									<span class="description">Genre: <%if book.genre == 1 %>
													          Fiction</br>
													          <%elsif book.genre == 2 %>
													          Non Fiction </br>
													          <%elsif book.genre == 3 %>
													          Reference Book</br>
													        <%end%></span>
								</span>
							</a>
							<a href="/books/<%=book.id%>" class="buy-btn">View Book</a>
						</div>
					</li>
					<% end %>
			<!-- End Products -->
			</div>
			
		<!-- End Content -->
		<div class="cl">&nbsp;</div>
	</div>
	<!-- End Main -->
	<!-- Footer -->
  <div id="footer" class="shell">
    <div class="top">
      <div class="cnt">
          <div class="about" style="margin:auto">
          <h4>About Isabelo</h4>
          <p>Isabelo is a platform that was born out of a need for sharing books and a problem that we, the creators of the platform and also being students, faced. This was the problem of buying books to satiate our hunger for knowledge. We find that sharing books is a much better alternative than buying books when it comes to the average student. So get ready to collaborate and share to your hearts content. </p>
          <p>Team Isabelo</p>
        </div>
        <div class="cl">&nbsp;</div>
        <div class="copy">
          <p>&copy; <a href="#">Isabelo.com</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer -->
</body>
</html>