<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
  <title>CSS Free Templates with jQuery Slider</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="assets/images/favicon.ico" />
  <!--<link rel="stylesheet" href="/assets/stylesheets/style.css" type="text/css" media="all" />
  <script type="text/javascript" src="/assets/javascripts/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/jquery.jcarousel.min.js"></script>
  <!--[if IE 6]>
    <script type="text/javascript" src="assets/javascripts/png-fix.js"></script>
  <![endif]-->
  <!--<script type="text/javascript" src="/assets/javascripts/functions.js"></script>-->
</head>
<body>
  <!-- Header -->
  <div id="header" class="shell">
    <div id="logo"><div style="text-align: right"><h1><a href="#">BestSeller</a></h1></div><span><a href="#">free css template</a></span></div>
    <!-- Navigation -->
    <!-- End Navigation -->
    <div class="cl">&nbsp;</div>
    <!-- Login-details -->
    <!-- End Login-details -->
  </div>
  <!-- End Header -->
  <!-- Slider -->
  <!-- End Slider -->
  <!-- Main -->
  <div id="main" class="shell">
    <!-- Sidebar -->
    <div style="text-align: center">
    <h3 style="color: black"> Log In </h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <br><%= f.label :email %>
    <br><%= f.email_field :email, autofocus: true , class: 'field'%><br>
    
    <br><%= f.label :password %>
    <br><%= f.password_field :password, autocomplete: "off" , class: 'field'%><br>

  <br><% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
  <% end -%><br><br>

  <div class="actions">
    <%= f.submit "Log in" ,class: 'form-buttons submit-btn'%>
  </div><br>
<% end %>

<%= render "devise/shared/links" %>
  </div>
</div>
  <!-- End Main -->
  <!-- Footer -->
  <div id="footer" class="shell">
    <div class="top">
      <div class="cnt">
          <div class="about" style="margin:auto">
          <h4>About Isabelo</h4>
          <p>Isabelo is a platform that was born out of a need for sharing books and a problem that we, the creators of the platform and also being students, faced. This was the problem of buying books to satiate our hunger for knowledge. We find that sharing books is a much better alternative than buying books when it comes to the average student. So get ready to collaborate and share to your hearts content. </p>
          <p>Team Isabelo</p>
        </div>
        <div class="cl">&nbsp;</div>
        <div class="copy">
          <p>&copy; <a href="#">Isabelo.com</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer -->
</body>
</html>