<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
  <title>Book Sharing For All</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />
  <!--<link rel="stylesheet" href="//assets/stylesheets/style.css" type="text/css" media="all" />
  <script type="text/javascript" src="//assets/javascripts/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="//assets/javascripts/jquery.jcarousel.min.js"></script>
  <!--[if IE 6]>
    <script type="text/javascript" src="/assets/javascripts/png-fix.js"></script>
  <![endif]-->
  <!--<script type="text/javascript" src="//assets/javascripts/functions.js"></script>-->
</head>
<body>

    <div id="header" class="shell">
      <div id="logo"><h1><a href="/">Isabelo</a></h1><span><a href="/">Book Sharing For All</a></span></div>
      <!-- Navigation -->
      <div id="navigation">
       <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/book/search">Search Book</a></li>
          <li><a href="/books/new">Share Book</a></li>
          <li><a href="/account">My Account</a></li>
          <li><a href="/shared">Shared Books</a></li>
          <li><a href="/notifications">Notifications</a></li>
        </ul>
    </div>
      <!-- End Navigation -->
      <div class="cl">&nbsp;</div>
      <!-- Login-details -->
      <div id="login-details">
      <p>Welcome, <a href="#" id="user"><%= @user.name %></a></p><p><%= link_to(' - Log Out', destroy_user_session_path, :method => :delete) %></p>
    </div>
      <!-- End Login-details -->
    </div>
    <!-- End Header -->
  <!-- Slider -->
  <!-- End Slider -->
  <!-- Main -->
  <div id="main" class="shell" style="min-height: 200px">
    <!--Sidebar -->
  <div id="sidebar">
      <ul class="categories">
        <li>
          <h4>My Account</h4>
          <ul>
            <li><a href="/borrowed">Borrowed Books</a></li>
            <li><a href="/pending">Pending Requests</a></li>
            <li><a href="/shared">Lent Books</a></li>
            <li><a href="/pending/recievals">Borrow Request Status</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
    
   <div style="text-align: center;">
   <h3 style="color: black"> Pending Requests: </h2><br>
    <div class="products">
        <% if @books.blank?%>
        <label> Oops Nothing to Show :P</label>
        <%end%>  
        <% @books.each do |book| %>
        <%= book.title %> requested by:
        <%= @users.find(book.borrow_request_by).name%> (<%=@users.find(book.borrow_request_by).email%>)
        <%= link_to "Accept Request ", accept_borrow_request_path(book), method: :put, data: { confirm: "You sure?" }%>/ 
        <%= link_to "Reject Request", reject_borrow_request_path(book), method: :put, data: { confirm: "You sure?" }%><br>
        <% end %>

  </div>
  </div>
</div>
  <!-- End Main -->
  <!-- Footer -->
  <div id="footer" class="shell">
    <div class="top">
      <div class="cnt">
          <div class="about" style="margin:auto">
          <h4>About Isabelo</h4>
          <p>Isabelo is a platform that was born out of a need for sharing books and a problem that we, the creators of the platform and also being students, faced. This was the problem of buying books to satiate our hunger for knowledge. We find that sharing books is a much better alternative than buying books when it comes to the average student. So get ready to collaborate and share to your hearts content. </p>
          <p>Team Isabelo</p>
        </div>
        <div class="cl">&nbsp;</div>
        <div class="copy">
          <p>&copy; <a href="#">Isabelo.com</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer -->
</body>
</html>
